# \<Project Proposal: Title\>

## Introduction

... introduction starts here

## Preliminary Results

... preliminary results here

In [1]:
library(tidyverse)
library(tidymodels)
library(janitor)
library(infer)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.4     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org


Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

In [2]:
# data set url
url <- "https://data.ct.gov/api/views/5mzw-sjtu/rows.csv?accessType=DOWNLOAD"

# read data 
real_estate_data <- read_csv(url) |>
    clean_names()

head(real_estate_data)

Rows: 997213 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): Date Recorded, Town, Address, Property Type, Residential Type, Non ...
dbl (5): Serial Number, List Year, Assessed Value, Sale Amount, Sales Ratio

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  serial_number list_year date_recorded town    address
1 2020348       2020      09/13/2021    Ansonia 230 WAKELEE AVE
2   20002       2020      10/02/2020    Ashford 390 TURNPIKE RD
3  200212       2020      03/09/2021    Avon    5 CHESTNUT DRIVE
4  200243       2020      04/13/2021    Avon    111 NORTHINGTON DRIVE
5  200377       2020      07/02/2021    Avon    70 FAR HILLS DRIVE
6  200109       2020      12/09/2020    Avon    57 FAR HILLS DRIVE
  assessed_value sale_amount sales_ratio property_type residential_type
1 150500          325000     0.4630      Commercial    NA
2 253000          430000     0.5883      Residential   Single Family
3 130400          179900     0.7248      Residential   Condo
4 619290          890000     0.6958      Residential   Single Family
5 862330         1447500     0.5957      Residential   Single Family
6 847520         1250000     0.6780      Residential   Single Family
  non_use_code assessor_remarks opm_remarks location
1 NA           NA               NA          NA
2 NA           NA               NA          NA
3 NA           NA               NA          NA
4 NA           NA               NA          NA
5 NA           NA               NA          NA
6 NA           NA               NA          NA

In [15]:
# keeping only relevant columns
real_estate_selected <- real_estate_data |>
    filter(!is.na(property_type)) |>
    select(list_year, assessed_value, sale_amount, sales_ratio, property_type, residential_type)

head(real_estate_selected)

  list_year assessed_value sale_amount sales_ratio property_type
1 2020      150500          325000     0.4630      Commercial
2 2020      253000          430000     0.5883      Residential
3 2020      130400          179900     0.7248      Residential
4 2020      619290          890000     0.6958      Residential
5 2020      862330         1447500     0.5957      Residential
6 2020      847520         1250000     0.6780      Residential
  residential_type
1 NA
2 Single Family
3 Condo
4 Single Family
5 Single Family
6 Single Family

In [22]:
# calculating some summary statistics about the population
min_max_stats <- real_estate_selected |>
    summarize(min_year = min(list_year),
              max_year = max(list_year),
              min_assessed_value = min(assessed_value),
              max_assessed_value = max(assessed_value),
              min_sale_amount = min(sale_amount),
              max_sale_amount = max(sale_amount),
              min_sales_ratio = min(sales_ratio),
              max_sales_ratio = max(sales_ratio))
min_max_stats

mean_stats <- real_estate_selected |>
    summarize(mean_year = mean(list_year), #not this this is actually relevant......just copy pasting the above
              mean_assessed_value = mean(assessed_value),
              mean_sale_amount = mean(sale_amount),
              mean_sales_ratio = mean(sales_ratio))
mean_stats

  min_year max_year min_assessed_value max_assessed_value min_sale_amount
1 2006     2020     0                  881510000          0
  max_sale_amount min_sales_ratio max_sales_ratio
1 5e+09           0               1226420

  mean_year mean_assessed_value mean_sale_amount mean_sales_ratio
1 2013.782  256010.3            377288.9         5.625535

## Methods: Plan

... methods/plan here

## References

- ...
- ...